*{
  max-width: 1440px;
}

header{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: rgba(62,190,255,255);
}
nav{
  margin: 20px 15px;
}
nav a{
  margin: 10px;
  padding:10px;
  text-decoration: none;
  color: White;
  font-family: 'Barlow', sans-serif;
}

img[src*="logo.svg"]{
  height: 40%;
  width: 90%;
  margin: 20px;
}

a[href*="#Contact"]{
  border: 1px solid White;
  border-radius: 30px;
  background-color: White;
  color: Black;
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
}

main{
  display: flex;
  flex-flow: column wrap;
}

#cover_section{
  background-image: url('images/desktop/image-header.jpg');
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  width: 100%;
  display:flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items:center;
}

#cover_section h1{
  font-size: 50px;
  font-family: 'Fraunces', sans-serif;
  color: White;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-top: 40px;
  padding-bottom: 150px;
}

#mission_section{
  max-width: 1440px;
}

.mission_section_1{
  display:flex;
  flex-flow: row wrap-reverse;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255,251,248,255);
  height: 600px;
}

.mission_section_2{
  display:flex;
  flex-flow:row-reverse wrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,251,248,255);
  height: 600px;
}

.mission_text{
  width: 30%;
  height: 50%;
  margin: auto;
}

.mission_text h2{
  font-family: 'Fraunces',sans-serif;
  font-size: 40px;
  font-weight: 700px;
  text-align: left;
}

.mission_text h4{
  font-family: 'Barlow',sans-serif;
  text-align: left;
  font-weight: lighter;
  opacity: 0.5;
}

.mission_text a{
  font-family: 'Fraunces',sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  color: black;
  text-decoration-color: Yellow;
}

.mission_figure{
    width: 50%;
    height: 100%;
}

figure{
  margin: 0;
  padding: 0;
  height: 100%;
}

figure img{
  width: 100%;
  height: 100%;
}

#topics{
  display:flex;
  flex-flow: row;
}

.topic_1{
  background-image: url('images/desktop/image-graphic-design.jpg');
  color: rgba(33,92,78,255)
}

.topic_2{
  background-image: url('images/desktop/image-photography.jpg');
  color: rgba(31,85,106,255);
}

.topic_1,
.topic_2{
  width: 50%;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items:center;
}

.topic_1 h2, .topic_2 h2{
  font-family: 'Fraunces',sans-serif;
}
.topic_1 h4, .topic_2 h4{
  text-align: center;
  width: 50%;
  height: 10%;
  font-family: 'Barlow',sans-serif;
  line-height: 1.5;
  margin-bottom: 50px;
}

#testimonials{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

#testimonials_header{
  margin-top: 100px;
  font-family: 'Fraunces',sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 13px;
  font-weight: bold;
  color: rgba(165,166,167,255);
}

#testimonials_clients{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  width: 100%;
  height: 600px;
}

.client{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
  margin: 15px 40px;
}

.client_picture{
  text-align: center;
  width: 15%;
  height: 15%;
}

.client_picture img{
  width: 90%;
  height: 80%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.client h3{
  font-family: 'Barlow',sans-serif;
  font-size: 15px;
  text-align: center;
  opacity: 0.7;
  line-height: 1.8;
  margin-top: 40px;
  margin-bottom: 30px;
  width: 80%;
}

.client h4{
  font-family: 'Fraunces',sans-serif;
}

.client h5{
  font-family: 'Barlow',sans-serif;
  margin-top: -10px;
  opacity: 0.5;
}

#bottom_edge{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.picture_bottom{
  width: 25%;
  height: 25%;
}

footer{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(145,211,197,255);
  width: 100%;
  height: 250px;
}

#logo_footer{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

#logo_footer img{
    margin-top: 30px;
    margin-bottom: 20px;
}

.options_footer{
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.options_footer h5{
  margin: 20px;
  font-family: 'Barlow',sans-serif;
  color: rgba(46,116,100,255);
  opacity:0.8;
  margin-bottom: 60px;
}

.social_media{
  display: flex;
  flex-flow: row;
}

.icon_social_media{
  margin: 10px;
  width: 30%;
  height: 40%;
}

.icon_social_media img{
  height: auto;
  width: auto;
}

.attribution{
  text-align: center;
  background-color: rgba(254,216,219,255);
  font-family: 'Barlow',sans-serif;
  opacity: 0.7;
}
